<module>
	<rawname>calllimit</rawname>
	<name>Outbound Call Limit</name>
	<version>15.0.5.6</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>Commercial</license>
	<licenselink>https://portal.sangoma.com/marketing/resources/2808/Sangoma%20Corporate/Terms%20of%20Service%20and%20User%20License%20Agreement/FreePBXCommercialModule-EndUserAgreement.txt</licenselink>
	<repo>commercial</repo>
	<category>Connectivity</category>
	<menuitems>
		<calllimit>Outbound Call Limit</calllimit>
	</menuitems>
	<more-info>https://wiki.freepbx.org/display/FPG/Outbound+Call+Limiting</more-info>
	<description>COMMERCIAL MODULE REQUIRES A LICENSE FOR IT TO FUNCTION. Restrict Outbound Calls at an outbound route level</description>
	<commercial>
		<type>paid</type>
		<link>//www.freepbx.org/add-ons/#outbound-call-limiting</link>
	</commercial>
	<changelog>
		*15.0.5.6* Packaging of ver 15.0.5.6
		*15.0.5.5* FREEI-1720 Fixed bug with licensing loading
		*15.0.5.4* FREEI-1571 Updates to licensing
		*15.0.5.3* bump 
		*15.0.5.2* FREEPBX-20070 
		*15.0.5.1* Use better legacy restore
		*15.0.5* FREEPBX-18348 Outbound call limit module allows to create duplicate entries with same Name
		*15.0.4* bump
		*15.0.3* Adding legacy backup for module
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Impliment 15 backup
	</changelog>
	<database>
		<table name="calllimit_usage">
    		<field name="calllimit_id" type="integer"/>
    		<field name="dispname" type="string" length="30" default="" primarykey="true"/>
    		<field name="foreign_id" type="string" length="30" default="" primarykey="true"/>
  		</table>
		<table name="calllimit">
			<field name="key" type="string" length="64" default="" primarykey="true"/>
			<field name="value" type="string" length="64" default=""/>
		</table>
	</database>
	<depends>
		<version>15.0</version>
		<phpcomponent>Zend Guard Loader</phpcomponent>
		<phpversion>5.3.0</phpversion>
		<module>sysadmin ge 13.0.69</module>
		<module>recordings ge 3.3.8</module>
	</depends>
	<hooks>
	    <sysadmin class="Sysadmin" namespace="FreePBX\modules">
    	    <method class="Calllimit" namespace="FreePBX\modules" callingMethod="getModuleLicenseInformation">sendModuleLicenseInformation</method>
    	</sysadmin>
	</hooks>
	<supported>
		<version>15.0</version>
	</supported>
</module>